<div class="jumbotron">
	<div class="background" style="background-image:url(http://i.imgur.com/SXZMGFE.jpg)">
    </div>
    <a class="nav-logo" href="/"><img src="http://i.imgur.com/Jjji5dX.png"></a>
    <div class="container">
    	<h1 id="main_text">주위의 동네서점을 찾아보세요.</h1>
    	<p>독특한 분위기, 이 곳에서만 볼 수 있는 책들이 동네서점에 있습니다.</p>
     
<!--       <div class="row">
        <div class="col-md-4 col-sm-8 col-xs-10" style="margin: 0 auto; float: none;">
          <div class="input-group text-center">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div> -->

  	<div class="dropdown text-center">
  			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    		지역선택
    		<span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu dropdown-center" aria-labelledby="dropdownMenu1">
    			<li><a href="/stores/local/1">서울(홍대/신촌)</a></li>
    			<li><a href="/stores/local/2">서울(한남/종로/중구)</a></li>
          <li><a href="/stores/local/3">서울(기타)</a></li>
    			<li><a href="/stores/local/4">경기/인천</a></li>
    			<li><a href="/stores/local/5">충청/대전</a></li>
          <li><a href="/stores/local/6">전라/광주</a></li>
          <li><a href="/stores/local/7">경북/대구</a></li>
          <li><a href="/stores/local/8">경남/부산</a></li>
          <li><a href="/stores/local/9">제주</a></li>
  			</ul>
		</div>  
 	</div>
</div> 

<div class="row" style="margin-top:-10px;">
  <div class="col-md-6 col-sm-8 col-xs-10" style="margin: 0 auto; float: none;">
    <form action="/stores" method="get">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="서점명/주소(시/구/동)를 입력하세요." name="query">
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">검색</button>
        </span>
      </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<hr>

<div class="container">
	<div class="row">
    <h4 style="margin-left: 20px;">새롭게 추가된 동네서점 <span class="label label-info">New</span></h4>
    <%= render 'stores' %>
	</div>
</div>	


<hr>
<br/>
<h3 style="text-align: center;"><img src="http://i.imgur.com/Tqumzcb.png"> 지역별로 찾아보세요.</h3>
  <div class="dropdown text-center">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        지역선택
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-center" aria-labelledby="dropdownMenu1">
          <li><a href="/stores/local/1">서울(홍대/신촌)</a></li>
          <li><a href="/stores/local/2">서울(한남/종로/중구)</a></li>
          <li><a href="/stores/local/3">서울(기타)</a></li>
          <li><a href="/stores/local/4">경기/인천</a></li>
          <li><a href="/stores/local/5">충청/대전</a></li>
          <li><a href="/stores/local/6">전라/광주</a></li>
          <li><a href="/stores/local/7">경북/대구</a></li>
          <li><a href="/stores/local/8">경남/부산</a></li>
          <li><a href="/stores/local/9">제주</a></li>
        </ul>
  </div>