/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require flexslider
 *= require_tree .
 *= require_self
 */

.jumbotron {
  height: 300px;
  position: relative;
}

.jumbotron .nav-logo {
	position: absolute;
	top: 10px;
	left: 10px;
}

.nav-logo img {
	width: 150px;
	height: auto;
}

.jumbotron .container {
  position: relative;
  top:50px;
}

.jumbotron p {
  font-size: 15px;
  color: #fff;
  text-align: center;
}

#main_text {
  color: #fff;
  font-size: 25px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
}

.nav_logo {
	height: 30px;
	margin-top: -5px;
}


#store_name {
  color: #fff;
  font-size: 30px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
}

.dropdown-menu a {
	text-decoration:none;
}

.container a {
  text-decoration:none;
}

.jumbotron .container {
	position: relative;
}

.background {
	position: absolute;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	top: 0; left:0; right:0; bottom:0;
	width: 100%;
	height: 100%;
}

.dropdown-center {
	left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.store {
	height: 330px;
}

.store-sns img {
	margin-left: 2px;
	width: 40px;
	height: 40px;
}

.container > .fb-like {
	margin-top: 5px;
}

.container > .twitter-button {
	margin-top: 10px;
}

.search-not-found {
  text-align: center;
  font-size: 20px;
}

#footer-logo {
	height: 60px;
}

.footer-left > .fb-like {
	margin-top: 15px;
}

.footer-left > .twitter-button {
	margin-top: 10px;
}

.nearby-store {
	margin-top: 10px;
	border: 1px solid #E7E4E4;
}

.nearby-img {
	padding: 10px 5px 10px 10px;
}


